* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: "acumin-pro", sans-serif;
    background-color: #f4f6f9;
    color: #333;
     background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/Web-development-main/WebDev/images/JNKPG.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
    size: 100px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}
/* Header */
header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style: none;
    margin-top: 15px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #ffae00;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 2%;

}
p{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    size: 30px;
    color: white;
}
.welcome{
    margin-top: 4%;
}
/*tiles layer*/
.tiles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
  margin: 5%;
}

.tile {
  background:#ffffff;
  aspect-ratio: 1 / 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
border: 2px solid #000000; 
size: 40px;
text-transform: uppercase;
 
}
.tile:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0,);
}
.block {
  background-color: black; 
  color: white;           
  padding: 30px 20px;         
  max-width: 100%;       
  margin: 20px auto;       
  text-align: center;      
}
.socials {
  background-color: rgb(7, 7, 7); 
  color: white;           
  padding: 30px 20px;         
  max-width: 100%;       
  margin: 20px auto;       
  text-align: center;      
}
/* Footer */
footer {
color: black;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 15px 0;
    width: 100%;
    bottom: 0;
    margin: 0%;
}
.site-footer {
  background: #000000;
  color: #ddd;
  text-align: center;
  padding: 30px 20px;
  font-size: 14px;
}

.site-footer a {
  color: #ddd;
  text-decoration: none;
  margin: 0 5px;
}

.site-footer a:hover {
  color: white;
}

